<%= form_with(model: serverdetail, local: true) do |form| %>
  <% if serverdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(serverdetail.errors.count, "error") %> prohibited this serverdetail from being saved:</h2>

      <ul>
      <% serverdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :servername %>
    <%= form.text_field :servername, id: :serverdetail_servername %>
  </div>

  <div class="field">
    <%= form.label :cpu %>
    <%= form.number_field :cpu, id: :serverdetail_cpu %>
  </div>

  <div class="field">
    <%= form.label :disk %>
    <%= form.number_field :disk, id: :serverdetail_disk %>
  </div>

  <div class="field">
    <%= form.label :process %>
    <%= form.number_field :process, id: :serverdetail_process %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
