<p id="notice"><%= notice %></p>

<p>
  <strong>Servername:</strong>
  <%= @serverdetail.servername %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @serverdetail.cpu %>
</p>

<p>
  <strong>Disk:</strong>
  <%= @serverdetail.disk %>
</p>

<p>
  <strong>Process:</strong>
  <%= @serverdetail.process %>
</p>

<%= link_to 'Edit', edit_serverdetail_path(@serverdetail) %> |
<%= link_to 'Back', serverdetails_path %>
